{% load render_table from django_tables2 %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html>
  <head>
       <title>{% block title %}{% endblock %}</title>
</head>
       <body>

          {% url 'interval' as int_url %}
      <a href="{{ int_url }}"/>Home</a>
      {% url 'int_filter' as search_url %}
      <a href="{{ search_url }}"/>Search</a>
 {% url 'logout' as logout_url %}
{% url 'graph_form' as g_url %}
      <a href="{{ g_url }}"/>Graph Generator</a>
      <a href="{{ logout_url }}"/>Logout</a>

    {% if user.is_authenticated %}
    {% if user.is_superuser %}
    {%load admin_urls %}
    <p>Hello, <a href="{% url 'admin:index' %}"/>Admin {{user.username}}</a></p>
{% else %}
    <p>Hello, ordinary visitor.</p>
{% endif %}
    {% endif %}
    <h1>Small RNA Biogenesis Site</h1>
    {% block content %}{% endblock %}
    <hr>
    
   <p>Site Under Construction.</p>
</body>
</html>
